body {
    background: rgba(0, 0, 0, 0.7) url('foods.jpeg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head {
    color: rgb(250, 248, 248);
    text-align: center;
    font-style: oblique;
}

* {
    box-sizing: border-box;
}

.recipe {
    background-color: white;
    width: 300px;
    height: 480px;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    float: left;
    font-style: oblique;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}